@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.mainContainer {
    width: 360px;
    border: 1px solid red;
    margin: auto;
}

.profile {
    text-align: center;

}

.profile img {
    width: 112px;
    height: 111px;
    border-radius: 100%;
    margin: auto;
}

.myName p {
    font-weight: 500;
    line-height: 24px;
}

